ul.search-results img {
  margin: 1 auto;

}

.results{
  min-height: 400px;
}

#results-form{
  border: 0;
  width: 1110px;
}

#save{
  position: relative;
  float: right;
}

li.search-results{
  float: left;
}

#results-form{
  min-height: 126px;
  border: 0;
  width: 1110px;
}

img{
  height: 100%;
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  width: 190px;
}