.logo {
    height: 10vw;
    background-size: 50%;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
  }
  
  .logo::after {
    content: "";
    display: block;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .logo * {
    position: relative;
    z-index: 2;
  }
  
  .logo h1, .logo h2 {
    color: white;
  }
  


  .slogan h2 {
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
    font-family: 'UnifrakturMaguntia', cursive;
}
  